@font-face {
  font-family: DigitalMono;
  src: url(../fonts/DigitalMono.ttf) format("truetype");
}

@font-face {
  font-family: digital-7_monomono;
  src: url('../fonts/digitalmono-webfont.woff2') format('woff2'),
       url('../fonts/digitalmono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
